<#include "/include.htm">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>投入产出管理</title>
	<link rel="stylesheet" type="text/css" href="/css/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/css/moreIcons/IconExtension.css">
	<link rel="stylesheet" type="text/css" href="/css/icon.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/css/rf.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui-portal/portal.css">
	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/js/lib/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/js/lib/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/js/plugin.js"></script>
	<script type="text/javascript" src="/jquery-easyui-portal/jquery.portal.js"></script>
</head>
<body>
    <table id="inputOutputAnalysisGrid"></table>
    <!-- 增加 -->
	<div id="addInputOutputAnalysisWin" title="添加投入产出管理" class="easyui-window" style="padding:5px;width:300px;height:400px;"data-options="closed:true,footer:'#ft1'">
	    <form id="addInputOutputAnalysisForm" style="padding:10px 20px 10px 10px;text-align:center;">
	    	<input type="text" name="id" class="hide">
	    	<table>
	    		<tr>
	    			<td>预计收入:</td><td><input type="text" name="expectIncome" class="easyui-numberbox"  style="width:180px" data-options="required:true, precision:2, prefix:'¥'" ></td>
	    		</tr>
	    		<tr>
	    			<td>实际收入:</td><td><input type="text" name="actualIncome" class="easyui-numberbox" style="width:180px" data-options="required:true, precision:2, prefix:'¥'" ></td>
	    		</tr>
	    		<tr>
	    			<td>实际投入:</td><td><input type="text" name="actualInvest" class="easyui-numberbox" style="width:180px" data-options="required:true, precision:2, prefix:'¥'" ></td>
	    		</tr>
	    		<tr>
	    			<td>预计投入:</td><td><input type="text" name="expectInvest" class="easyui-numberbox" style="width:180px" data-options="required:true, precision:2, prefix:'¥'" ></td>
	    		</tr>
	    		<tr>
	    			<td>年份:</td><td><input type="text" name="year" class="easyui-numberbox" style="width:180px" data-options="required:true" ></td>
	    		</tr>
	    		<tr>
	    			<td>合作社:</td><td><input class=" easyui-textbox  cooperativesId" name="cooperativesId" style="width:180px" data-options="required:true" ></td>
	    		</tr>
	    	</table>
	    </form>
	    <div id="ft1" style="padding: 5px; text-align: right;">
	    		<a href="#" class="easyui-linkbutton" plain="true" icon="icon-ok" onclick="addSave()">保存</a>&nbsp
	    		<a href="#" class="easyui-linkbutton" plain="true" icon="icon-cancel"  onclick="addClose()">取消</a>
	    </div>
	    </div>
	   
	    

	
	<div id="inputOutputAnalysisGridToolBar"  >
	<form id="queryForm">
		<table >
			<tr>
				<td>
					<span>年份:<input name="year"  class="easyui-numberbox year"></span>
					<span>合作社:<input class="easyui-textbox cooperativesId" name="cooperativesId"></span>
				</td>		
			</tr>
			<tr>
			<td>
				<a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-add"  onclick="add()">添加</a>
				<a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-edit" onclick="update()">修改</a>
				<a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-cancel" onclick="del()">删除</a>
				<a href="#" class="easyui-linkbutton" plain="true"  iconCls="icon-search" onclick="doSearch()">搜索</a>
			</td>
			</tr>
		</table>
	</form>
	</div>
	
	<!-- 修改 -->
	<div id="updateInputOutputAnalysisWin" title="修改投入产出管理" class="easyui-window" style="padding:5px;width:300px;height:400px;"data-options="closed:true,footer:'#ft2'">
	    <form id="updateInputOutputAnalysisForm" style="padding:10px 20px 10px 10px;text-align:center;">
	    	<input type="text" name="id" class="hide">
	    	<table>
	    		<tr>
	    			<td>预计收入:</td><td><input type="text" name="expectIncome" class="easyui-numberbox" style="width:180px" data-options="precision:2, prefix:'¥'"></td>
	    		</tr>
	    		<tr>
	    			<td>实际收入:</td><td><input type="text" name="actualIncome" class="easyui-numberbox" style="width:180px" data-options="precision:2, prefix:'¥'"></td>
	    		</tr>
	    		<tr>
	    			<td>实际投入:</td><td><input type="text" name="actualInvest" class="easyui-numberbox" style="width:180px" data-options="precision:2, prefix:'¥'"></td>
	    		</tr>
	    		<tr>
	    			<td>预计投入:</td><td><input type="text" name="expectInvest" class="easyui-numberbox" style="width:180px" data-options="precision:2, prefix:'¥'"></td>
	    		</tr>
	    		<tr>
	    			<td><font style="color: red">年份:</font></td><td><input type="text" name="year" class="easyui-numberbox" style="width:180px" readonly="readonly" ></td>
	    		</tr>
	    		<tr>
	    			<td><font style="color: red">合作社:</font></td><td><input class="easyui-textbox  cooperativesId" name="cooperativesId" style="width:180px" readonly="readonly"></td>
	    		</tr>
	    	</table>
	    </form>
	    <div id="ft2" style="padding: 5px; text-align: right;">
	    		<a href="#" class="easyui-linkbutton" plain="true" icon="icon-ok" onclick="updateSave() ">保存</a>&nbsp
	    		<a href="#" class="easyui-linkbutton" plain="true" icon="icon-cancel" onclick="updateClose()">取消</a>
	    </div>
	</div>
</body>
<script type="text/javascript" src="/script/ygCooperatives/inputOutputAnalysis.js"></script>
</html>